.grid-module-container {
    --grid-module-size: 300px;
    --grid-descriptions-size: 60px;
    
    margin-top: 100px;
    display: grid;
    grid-template-columns: var(--grid-descriptions-size) var(--grid-module-size);
    grid-template-rows: var(--grid-descriptions-size) var(--grid-module-size);
    gap: 0px;
}

.higher-impact {
    background-image: url(img/higherimpact.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.lower-time {
    background-image: url(img/lesstime.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.start-here {
    /*background-image: url(img/starthere.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;*/
}

.grid-module {
    height: var(--grid-module-size);
    width: var(--grid-module-size);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}

.grid-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}
.grid-cell:hover {
    transform: scale(1.1);
}

.grid-cell:not(.active){
    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.25);
}
.grid-cell.active {
    box-shadow: 0px 0px 6px 4px #ffb703;
}


.grid-number {
   /* background-color: var(--color-white);
    padding: 3px 12px;
    border-radius: 5px; 
    box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.25);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Lexend-Light';
    color: var(--color-white);
}

.mini-grid {
    display: grid;
    height: 50px;
    width: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    cursor: pointer;
}
.mini-grid:hover {
    transform: scale(1.1);
}

.mini-grid-cell {
    background-color: var(--color-light-gray);
    border-radius: 2px;
}

.mini-grid-cell[data-row="2"][data-column="0"] {
    background-color: var(--color-theme-two);
}

.grid-cell[data-row="0"][data-column="0"] {
    background-color: var(--color-theme-four);
}
.grid-cell[data-row="0"][data-column="1"] {
    background-color: var(--color-theme-three);
}
.grid-cell[data-row="0"][data-column="2"] {
    background-color: var(--color-theme-two);
}
.grid-cell[data-row="1"][data-column="0"] {
    background-color: var(--color-theme-three);
}
.grid-cell[data-row="1"][data-column="1"] {
    background-color: var(--color-theme-two);
}
.grid-cell[data-row="1"][data-column="2"] {
    background-color: var(--color-theme-one);
}
.grid-cell[data-row="2"][data-column="0"] {
    background-color: var(--color-theme-two);
}
.grid-cell[data-row="2"][data-column="1"] {
    background-color: var(--color-theme-one);
}
.grid-cell[data-row="2"][data-column="2"] {
    background-color: var(--color-theme-one);
}
