@font-face {
    font-family: 'Lexend-Light';
    src: url('./fonts/Lexend-VariableFont_wght.ttf');
    font-weight: 350;
}

@font-face {
    font-family: 'Lexend-Regular';
    src: url('./fonts/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Lexend-Extra-Light';
    src: url('./fonts/Lexend-VariableFont_wght.ttf');
    font-weight: 250;
}

@font-face {
    font-family: 'Lexend-Heavy';
    src: url('./fonts/Lexend-VariableFont_wght.ttf');
    font-weight: 600;
}

body {
    --color-white: #fdfbf4;
    --color-whiter: #fcfaf6;
    --color-light-gray: #CCC5B9;
    --color-medium-gray: #69655e;
    --color-dark-gray: #403D39;
    --color-black: #252422;
    --color-theme-one: #05668D;
    --color-theme-two: #028090;
    --color-theme-three: #00A896;
    --color-theme-four: #02C39A;

    color: var(--color-black);
    font-family: 'Lexend-Light';
    background-color: var(--color-white);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header {
    width: 100vw;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.144);
    /*border-bottom: var(--color-light-gray);
    border-bottom-style: solid;
    border-bottom-width: 1.5px;*/
    z-index: 100;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: var(--color-whiter);
}

.header-content {
    flex: auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    max-width: 800px;
    min-width: 600px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.add-task {
    cursor: pointer;
    background-color: var(--color-theme-three);
    color: var(--color-white);
    padding: 4px 8px;
    border-radius: 4px;
}
.add-task:hover {
    background-color: var(--color-theme-two);
    transform: scale(1.1);
}

.logo h1 {
    font-family: 'Lexend-Regular';
}

.content-container {
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.content {
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    max-width: 800px;
    min-width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}