.task-content {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
}

.task-header {
    display: grid;
    grid-template-columns: 20px 1fr 60px 60px 90px;
    gap: 15px;
    padding: 0px 10px;
    font-family: 'Lexend-Heavy';
    color: var(--color-dark-gray);
    margin-bottom: 0px;
    margin-top: 20px;
}

.task {
    display: grid;
    grid-template-columns: 20px 1fr 60px 60px 90px;
    gap: 15px;
    box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.12);
    padding: 11px 10px;
    border-radius: 5px;
    align-items: center;
    color: var(--color-black);
    background-color: var(--color-whiter);
    cursor: pointer;
}
.task:hover {
    transform: scale(1.01);
}

.task-checkbox {
    height: 12px;
    width: 12px;
    border-style: solid;
    margin-left: 5px;
    border-color: var(--color-dark-gray);
    border-width: 1.75px;
    cursor: pointer;
    border-radius: 2px;
}
.task-checkbox:hover {
    border-width: 2.5px;
}

.task-name {
    font-size: 15px;
}

.task-impact.low, .task-time.high {
    color: var(--color-light-gray);
    font-size: 14px;
}
.task-impact.med, .task-time.med{
    color: var(--color-medium-gray);
    font-size: 14px;
}
.task-impact.high, .task-time.low {
    color: var(--color-theme-four);
    font-family: 'Lexend-Heavy';
    font-size: 14px;
}

.form-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
}

.task-form-label {
    margin-top: 30px;
    color: var(--color-dark-gray);
    font-family: 'Lexend-Regular';
    text-align: center;
    font-size: 14px;
}

.task-entry-field {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--color-whiter);
    border-color: var(--color-medium-gray);
    border-width: 1.5px;
    border-style: solid;
    color: var(--color-dark-gray);
    text-align: center;
    font-family: 'Lexend-Regular';
}

.task-entry-field.name-entry-field {
    font-family: 'Lexend-Heavy';
    font-size: 18px;
}

.task-entry-field.details-entry-field {
    font-size: 14px;
}

.time-select, .impact-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 9.5px;
    border-width: 1.5px;
    border-color: var(--color-medium-gray);
    border-style: solid;
}

.select-option {
    padding: 5px 10px;
    text-align: center;
    border-left-color: var(--color-medium-gray);
    background-color: var(--color-whiter);
    cursor: pointer;
    font-family: 'Lexend-Light';
}

.select-option.med, .select-option.high {
    border-left-style: solid;
}

.select-option.low {
    border-radius: 8px 0px 0px 8px;
}
.select-option.high {
    border-radius: 0px 8px 8px 0px;
}

.time-select > .select-option.low:hover, 
.time-select > .select-option.low.selected,
.impact-select > .select-option.high:hover, 
.impact-select > .select-option.high.selected{
    background-color: var(--color-theme-four);
    color: var(--color-whiter);
    font-family: 'Lexend-Regular';
}

.select-option.med:hover, 
.select-option.med.selected{
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    font-family: 'Lexend-Regular';
}

.time-select > .select-option.high:hover, 
.time-select > .select-option.high.selected,
.impact-select > .select-option.low:hover, 
.impact-select > .select-option.low.selected{
    background-color: var(--color-dark-gray);
    color: var(--color-whiter);
    font-family: 'Lexend-Regular';
}

.details-entry-field {
    resize: none;
    text-align: left;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.task-module-button {
    cursor: pointer;
    background-color: var(--color-light-gray);
    color: var(--color-black);
    padding: 8px 16px;
    border-radius: 4px;
    width: 80px;
    text-align: center;
}
.task-module-button:hover {
    transform: scale(1.1);
    background-color: var(--color-medium-gray);
    color: var(--color-white);
}

.task-module-button.save-button {
    background-color: var(--color-theme-four);
}