.task-content {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
}

.task-header {
    display: grid;
    grid-template-columns: 20px 1fr 60px 60px 90px;
    gap: 15px;
    padding: 0px 10px;
    font-family: 'Lexend-Heavy';
    color: var(--color-dark-gray);
    margin-bottom: 0px;
    margin-top: 20px;
}

.task {
    display: grid;
    grid-template-columns: 20px 1fr 60px 60px 90px;
    gap: 15px;
    box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.12);
    padding: 11px 10px;
    border-radius: 5px;
    align-items: center;
    color: var(--color-black);
    background-color: var(--color-whiter);
    cursor: pointer;
}
.task:hover {
    transform: scale(1.01);
}

.task-checkbox {
    height: 12px;
    width: 12px;
    border-style: solid;
    margin-left: 5px;
    border-color: var(--color-dark-gray);
    border-width: 1.75px;
    cursor: pointer;
    border-radius: 2px;
}
.task-checkbox:hover {
    border-width: 2.5px;
}

.task-name {
    font-size: 15px;
}

.task-impact.low, .task-time.high {
    color: var(--color-light-gray);
    font-size: 14px;
}
.med {
    color: var(--color-medium-gray);
    font-size: 14px;
}
.task-impact.high, .task-time.low {
    color: var(--color-theme-four);
    font-family: 'Lexend-Heavy';
    font-size: 14px;
}